/* Site-wide styles, typically used on every page */

/*#region General, universally used rules */
:root {
  font-size: 0.813em;
  --accent-primary: #10805e;
  --accent-primary-dark: #006747;
  --accent-primary-translucent: rgba(16, 128, 94, 0.8);
  --accent-secondary: #9ccb3b;
  --accent-tertiary: #f5e9c7;
  --translucent-dark: rgba(0, 0, 0, 0.7);
  --translucent-darker: rgba(0, 0, 0, 0.9);
  --dividing-border: 1px solid #e8e8e8;
  --serif-font: Georgia, "Times New Roman", Times, serif;
  /* USF main site is #666, but this fails WCAG AAA contrast ratio of 7:1 */
  --text-color: #595959;
  --cont-pad-desktop: 3rem;
  --cont-pad-mobile: 2rem;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

a:link, a:visited {
  text-decoration: none;
  color: var(--accent-primary);
}

a:hover, a:focus {
  text-decoration: underline;
  color: var(--accent-primary-dark)
}

a.arrow::after {
  content: " »\FE0E";
}

a[data-featherlight="iframe"]::after {
  content: " ↗\FE0E"
}

iframe {
  width: 100%;
}

::-moz-selection {
  background-color: #006484;
  color: #fff;
}

::selection {
  background-color: #006484;
  color: #fff;
}

.max-width {
  max-width: 75rem;
  padding: 0 var(--cont-pad-mobile);
  margin: auto;
}

hr {
  border: none;
  border-top: var(--dividing-border);
}

/* Screen reader only */
.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  opacity: 0.01;
  left: -9999vw;
}

@keyframes highlight-fade {
  from {
    background: #DBE442;
  }
  to {
    background: transparent;
  }
}
/*#endregion*/

/*#region Skip-navigation link (for accessibility) */
a.skip-to-main {
  position: absolute;
  background-color: var(--accent-primary);
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: bold;
  border-radius: 0 0 5px 5px;
  top: -100%;
  transition: top 0.25s;
  left: 10%;
}

a.skip-to-main:focus {
  top: 0;
}
/*#endregion*/

/*#region Global (USF) Header */
#global-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
}

#global-header > * {
  padding: 1.15rem 0;
}

#global-logo, #global-logo:hover {
  letter-spacing: 2px;
  text-decoration: none;
  border-bottom: var(--dividing-border);
  font-family: var(--serif-font);
}

#global-header nav {
  font-size: 0.88rem;
}

#global-header nav :not(:first-of-type) {
  padding-left: 1rem;
}
/*#endregion*/

/*#region Site Header */
#site-header {
  background-color: var(--accent-primary);
  box-shadow: inset 0px 20px 10px -10px rgba(0,0,0,0.1), inset 0px -20px 10px -10px rgba(0,0,0,0.1);
  padding: 1.714rem 0;
}

#site-header h1 {
  font-size: 2.3rem;
  line-height: 1.25em;
  font-family: var(--serif-font);
  color: #fff;
}

#site-header h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--accent-tertiary);
  letter-spacing: 1px;
}

#site-header a {
  color: inherit;
}

#site-header a:hover {
  text-decoration: none;
}
/*#endregion*/

/*#region Site Navigation */
#site-menu {
  box-shadow: 0 0px 10px -3px rgba(0,0,0,0.25);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  max-height: 3.4em;
  transition: max-height 0.5s ease;
  overflow: hidden;
  margin-bottom: 1rem;
}

#site-menu.expanded {
  /* If the menu is getting cut off at the bottom, increase this value */
  max-height: 35em;
}

#site-menu .max-width {
  display: flex;
  flex-direction: column;
}

#site-menu a, #site-menu h2 {
  padding: 1rem 0;
}

#site-menu h2 {
  color: var(--accent-primary);
  padding-left: 35px;
  background: url("hamburger_icon.png") left center no-repeat;
}

#site-menu a {
  border-top: var(--dividing-border);
}

#site-menu a:hover {
  text-decoration: none;
}
/*#endregion*/

/*#region Site Body */
.page-header h1 {
  font-family: var(--serif-font);
  color: var(--accent-primary);
  font-size: 3rem;
  line-height: 1.2em;
  margin: 3rem 0 1rem 0;
  letter-spacing: 0.5px;
  border-bottom: var(--dividing-border);
  padding-bottom: 0rem;
}

.page-header {
  margin-bottom: 1rem;
}

.default-body {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.default-body h2 {
  font-family: var(--serif-font);
  color: var(--accent-primary);
  font-size: 2rem;
  line-height: 1.2em;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.default-body h3 {
  color: var(--accent-primary-dark);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 2rem 0 0.5rem 0;
  letter-spacing: 0.5px;
}

.default-body h4 {
  font-weight: bold;
  margin-top: 1rem;
}

.default-body article:not(.no-clear), .default-body section:not(.no-clear) {
  clear: both;
  border-top: 0.1px solid transparent;
}

.default-body :target {
  animation: highlight-fade 5s ease 1;
  border-radius: 3px;
}

.default-body a {
  font-weight: bold;
}

.default-body p, .page-header {
  text-align: justify;
}

.default-body .no-justify, .no-justify, .no-justify p {
  text-align: left;
}

.default-body .author, .default-body small {
  font-weight:bold;
  margin: 0 0 0 1rem;
  display: block;
}

.default-body .quote {
  font-family: var(--serif-font);
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5em 1em;
  line-height: 1.5em;
  word-wrap: break-word;
}

.default-body .quote blockquote, i, cite {
  font-style: italic;
}

.default-body .quote blockquote i, .default-body .quote blockquote cite {
  /* ie: Book title in quote */
  font-style: normal;
}

.default-body .quote figcaption {
  opacity: 0.8;
  font-size: 0.7em;
}

.default-body .quote figcaption::before {
  content: "— ";
}

.default-body .indented {
  margin-left: 2rem;
}

.default-body .space-paragraphs p {
  padding-bottom: 1rem;
}

.default-body .footnote {
  font-style: italic;
}

.default-body .footnote::before {
  content: attr(data-footnote-symbol);
  padding-right: 1ex;
}

.default-body b {
  font-weight: bold;
}
/*#endregion*/

/*#region Site Footer */
#site-footer {
  border-top: var(--dividing-border);
  padding: 3rem 0;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#site-footer a {
  font-weight: bold;
}

#site-footer div {
  margin: 0.5rem 0;
}

#site-footer > nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#site-footer > nav ul {
  margin-bottom: 1.5rem;
  line-height: 2rem;
  padding-right: 3em;
}

#site-footer > #site-info {
  flex-shrink: 0;
  margin: 0 3rem 2rem 0;
  max-width: 100%;
}

#site-footer #site-info img {
  max-width: 100%;
  margin-bottom: 1rem;
}

#site-footer #site-info nav a:not(:last-of-type)::after {
  content: " • ";
  color: var(--text-color);
  display: inline-block;
  padding-left: 1ex;
  padding-right: 2px;
  text-decoration: none;
}
/*#endregion*/

/*#region Media Queries */
/* Desktop, 45em */
@media only screen and (min-width: 45rem) {
  /* General Universal Rules */
  .max-width {
    padding: 0 var(--cont-pad-desktop);
  }
  
  /* Global (USF) Header */
  #global-header {
    flex-direction: row;
    justify-content: space-between;
  }

  #global-logo, #global-logo:hover {
    border: none;
  }

  /* Site Header */
  #site-header {
    background-image: url("seal.png");
    background-position: top right 20%;
    background-repeat: no-repeat;
    padding: 3.5rem 0;
  }

  /* Site Navigation */
  #site-menu, .site-menu.expanded {
    max-height: none;
  }

  #site-menu .max-width {
    flex-direction: row;
  }

  #site-menu h2 {
    /* Hide, but not to screen readers */
    position: absolute;
    left: -9999vw;
    width: 1px;
    height: 1px;
    overflow: hidden;
    cursor: pointer;
  }

  #site-menu a {
    flex-grow: 1;
    text-align: center;
    border: solid transparent;
    border-width: 4px 0;
    padding: calc(1.15rem - 4px) 1.15rem;
    transition: 0.2s border ease;
  }

  #site-menu a:hover, #site-menu a:focus {
    border-bottom-color: var(--accent-secondary);
  }

  /* Site Footer */
  #site-footer > nav {
    flex-direction: row;
  }

  #site-footer > nav ul {
    margin: 0;
    flex-shrink: 0;
    flex-grow: 1;
  }
}
/*#endregion*/
