/* Styling for reusable content widgets */

/*#region Full width image slideshow with descriptions per image */
.slideshow {
  position: relative;
  height: 40rem;
  max-height: 50vh;
  min-height: 20rem;
  overflow: hidden;
  margin-top: -1rem;
}

.slideshow .slide {
  visibility: hidden;
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 2s ease, visibility 0s linear 2s;
  background-size: cover;
  background-position: center;
}

.slideshow .slide.current {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s ease;
}

.slide-info {
  padding: 2rem;
  position: relative;
  width: 100%;
}

.slide-info, .slide-info a {
  color: white;
  text-decoration: none;
}

.slide-info a:hover {
  text-decoration: underline;
}

.slide-info a {
  z-index: 2;
  position: relative;
}

.slide-info p {
  font-weight: bold;
}

.slide-info::before {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--translucent-dark);
  top: 0;
  left: 0;
  content: " ";
  z-index: 0;
  pointer-events: none;
  transition: background 0.25s ease;
  -webkit-backdrop-filter: blur(5px);
}

.slide-info:hover::before {
  background: var(--translucent-darker);
}

.slide-info h3 {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  padding-bottom: 0.5rem;
  line-height: 1em;
  font-family: var(--serif-font);
}

@media only screen and (min-width: 50rem) {
  .slide-info {
    margin: auto 10% auto 0;
    width: 30%;
    padding: 2em 3em;
    min-height: 6.5rem;
  }

  .slide-info::before {
    transform: skewx(-15deg);
  }

  .slide-info h1 {
    padding-left: 0.5rem;
  }
}

@media only screen and (min-width: 67rem) {
  .slideshow {
    margin-top: 0;
  }
}
/*#endregion*/

/*#region Collection of quick links with headings and descriptions */
.quick-links > div {
  display: flex;
  flex-direction: column;  
  padding: 1.5rem 0;
  border-bottom: var(--dividing-border);
  margin-bottom: 0.75rem;
}

.quick-links section {
  padding: 1rem;
}

.quick-links section:not(:last-of-type) {
  border-bottom: var(--dividing-border);
}

.quick-links section a {
  text-align: center;
  color: var(--text-color) !important;
}

.quick-links section a:hover {
  text-decoration: none;
}

.quick-links section h3 {
  color: var(--accent-primary);
  font-family: var(--serif-font);
  font-size: 1.5rem;
  line-height: 1em;
  padding-bottom: 0.75rem;
}

.quick-links section a:hover h3 {
  text-decoration: underline;
}

@media only screen and (min-width: 40rem) {
  .quick-links > div {
    flex-direction: row;
  }

  .quick-links section:not(:last-of-type) {
    border-bottom: 0;
    border-right: var(--dividing-border);
    padding: 1rem;
  }
}
/*#endregion*/

/*#region Modern text container with header */
.text-content h2 {
  color: var(--accent-primary);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-bottom: 0.5em;
  letter-spacing: 1px;
}

.text-content p {
  text-align: justify;
}
/*#endregion*/

/*#region Calendar embedded off to the side */
aside.calendar .event {
  display: grid;
  grid-template: 
    "date name" auto
    "date time" auto / 7.2em auto;
  padding: 1rem 0.25rem;
}

aside.calendar section:not(:last-of-type) .event {
  border-bottom: var(--dividing-border);
}

aside.calendar a.event:hover {
  text-decoration: none;
}

aside.calendar .event > .name {
  grid-area: name;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 0.25rem;
  align-self: end;
}

aside.calendar .event > .date {
  grid-area: date;
  text-transform: uppercase;
  color: var(--accent-secondary);
  align-self: center;
  text-align: center;
  word-wrap: break-word;
  margin-right: 1.2rem;
  font-size: 1.15rem;
}

aside.calendar .event > .time {
  grid-area: time;
  color: #999;
  align-self: start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/*#endregion*/

/*#region Responsive grid/row of images */
.image-row .image-row-container {
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  flex-wrap: wrap;
}

.image-row .image-row-container > * {
  height: 8rem;
  width: 8rem;
  overflow: hidden;
  margin: 0.5rem;
  text-align: center;
}

.image-row img:not(.portrait) {
  min-height: 100%;
  min-width: 100%;
  height: 0;
}

.image-row img.portrait {
  min-height: 100%;
  min-width: 100%;
  width: 0;
}

.image-row h3 {
  border-bottom: var(--dividing-border);
}
/*#endregion*/

/*#region Responsive 2/3rds width aside element */
.aside_2-3 {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
}

.aside_2-3 > * {
  flex: 3;
}

.aside_2-3 > aside, .aside_2-3 > blockquote, .aside_2-3 > figure {
  flex: 2;
  min-width: 0;
  margin-top: 1.5rem;
}


@media only screen and (min-width:45rem) {
  .aside_2-3 {
    flex-direction: row;
  }

  .aside_2-3 aside, .aside_2-3 > blockquote, .aside_2-3 > figure {
    margin-left: 2rem;
    margin-top: 0;
  }
}
/*#endregion*/

/*#region Float (ie images) to the right */
.aside-self {
  padding: 0.5rem;
}


@media only screen and (min-width:45rem) {
  .aside-self {
    float: right;
    padding-left: 1.5rem;
  }
}
/*#endregion*/

/*#region Responsive subnavigation aside element */
.has-navigation {
  display: flex;
  flex-direction: column;
}

.has-navigation > .secondary-navigation {
  flex: 1;
  max-height: 43px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.secondary-navigation > a, .secondary-navigation > h2 {
  display: block;
  background-color: #f7f7f7;
  padding: 0.75rem;
  margin: 0.5rem;
  border-bottom: var(--dividing-border);
  background-image: url("arrow.png");
  background: #f7f7f7 url("arrow.png") no-repeat right center;
  transition: background 0.25s ease;
}

.secondary-navigation > h2 {
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background-image: url("hamburger_icon.png");
  background-position: right 1rem center;
  cursor: pointer;
}

.secondary-navigation > a.current {
  color: var(--accent-tertiary);
}

.secondary-navigation > a:hover, .secondary-navigation > a:focus {
  background-color: #eee;
}

.secondary-navigation.expanded, .dont-collapse-nav .secondary-navigation {
  max-height: 35rem;
}


@media only screen and (min-width: 50rem) {
  .has-navigation {
    padding-top: 1rem;
    flex-direction: row;
  }

  .has-navigation > * {
    flex: 3;
  }

  .has-navigation > .secondary-navigation {
    max-width: 16rem;
    min-width: 10rem;
    margin-right: 3rem;
    max-height: 35rem;
  }

  .secondary-navigation > a {
    margin: 0 0 0.5rem;
  }

  .secondary-navigation > h2 {
    display: none;
  }
}
/*#endregion*/

/*#region Accented header with colored underline */
main .accent-header {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--accent-primary);
  letter-spacing: 2px;
  font-weight: bolder;
  padding: 0.3rem 0 0.7rem 0;
  border-bottom: var(--dividing-border);
}

main .accent-header > span {
  border-bottom: 2px solid var(--accent-secondary);
  padding: 0.7rem 0;
}
/*#endregion*/

/*#region Fullcalendar */
.fullcalendar h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--accent-primary);
  letter-spacing: 2px;
  padding-top: 1rem;
  margin-bottom: 0.75rem !important;
}

.fullcalendar .fc-button {
  box-shadow: none;
  border: none;
  border-radius: 0;
  text-shadow: none;
  background: #eee;
  transition: background 0.2s ease;
}

.fullcalendar .fc-button.fc-state-active {
  background: #ccc;
}

.fullcalendar .fc-button.fc-state-hover {
  background: rgb(226, 226, 226);
}

.fullcalendar_event_popup small {
  padding-bottom: 1rem;
  margin-left: 0;
}

.fullcalendar_event_popup small .not-bold {
  font-weight: normal;
}

.fullcalendar .fc-event .fc-content {
  padding: 0.2rem;
}

.fullcalendar .fc-more {
  font-weight: bold;
}
/*#endregion*/

/*#region Featherlight Gallery */
.featherlight-content .featherlight-next span, .featherlight-content .featherlight-previous span {
  display: block;
  opacity: 0.3;
}

.featherlight-content .featherlight-next:hover span, .featherlight-content .featherlight-previous:hover span {
  opacity: 1;
}

.featherlight .featherlight-content {
  overflow: visible !important;
}

.featherlight-content .caption {
  color: #fff;
  position: absolute;
  display: block;
  top: 110%;
  left: 1rem;
  right: 1rem;
  background: var(--translucent-dark);
  border-radius: 3px;
  padding: 0.75rem;
}

@media only screen and (min-width: 30rem) {
  .featherlight-content .caption {
    top: auto;
    bottom: 1rem;
    left: 4rem;
    right: 4rem;
  }
}
/*#endregion*/

/*#region Featherlight Iframe */
.featherlight-iframe .featherlight-content {
  width: 95%;
  height: 90%;
  max-width: 100rem;
  overflow-y: hidden !important;
  resize: both;
}

.featherlight-iframe iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 30rem) {
  .featherlight-iframe .featherlight-content {
    width: 80%;
    height: 80%;
  }
}
/*#endregion*/

/*#region Grid of items with image highlights */
:root {
  /* The CSS variables ponyfill only supports variables on :root.
     Overridden in modern browsers. */
  --cell-width: 12rem;
  --cell-height: 16rem;
}


.gallery-info-grid {
  display: flex;
  flex-wrap: wrap;
  --cell-width: 9rem;
  --cell-height: calc(var(--cell-width) + 4rem);
}

.gallery-info-grid .grid-item {
  border: var(--dividing-border);
  border-radius: 0.4rem;
  width: var(--cell-width);
  height: var(--cell-height);
  overflow: hidden;
  position: relative;
  margin: 0.5rem;
  background: #fff;
  transition: opacity 0.25s ease;
}

.gallery-info-grid .grid-item.not-available {
  opacity: 0.7;
}

.gallery-info-grid .grid-item img {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  height: calc(var(--cell-width) - 4rem);
  width: calc(var(--cell-width) - 4rem);
  z-index: 1;
}

.gallery-info-grid .grid-item figcaption {
  position: absolute;
  top: var(--cell-width);
  background: var(--accent-primary-dark);
  z-index: 2;
  padding: 0.5rem;
  transition: top 0.25s ease;
  height: 10rem;
  width: calc(var(--cell-width) - 1rem);
}

.gallery-info-grid .grid-item figcaption h4 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  cursor: help;
}

.gallery-info-grid .grid-item figcaption p {
  text-transform: uppercase;
  color: var(--accent-tertiary);
  font-weight: bold;
  margin: 0;
  padding-right: 2.5rem;
  font-size: 0.9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 0.5px;
  transition: padding 0.25s ease;
}

.gallery-info-grid .grid-item figcaption .status {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 2.3rem;
  right: 1.1rem;
  background: var(--accent-secondary);
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  color: rgba(255,255,255,0);
  transition: all 0.25s ease;
  transition-delay: 0.05s;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  transform: translateX(0);
}

.gallery-info-grid .grid-item figcaption abbr {
  text-decoration: none;
}

.gallery-info-grid .grid-item figcaption .more-info {
  color: white;
  font-weight: normal;
  opacity: 0;
  transition: opacity 0.25s ease;
  font-size: 0.9rem;
  line-height: 0.8em;
}

.gallery-info-grid .grid-item.not-available figcaption .status {
  background-color: #466069;
}

.gallery-info-grid .grid-item.available-use figcaption .status {
  background-color: #29AFCE;
}

.gallery-info-grid .grid-item:hover figcaption {
  top: calc(var(--cell-height) - 8rem);
}

.gallery-info-grid .grid-item:hover .more-info, .gallery-info-grid  .grid-item:hover {
  opacity: 1;
}

.gallery-info-grid .grid-item:hover .status {
  top: 6rem;
  width: 14em;
  color: rgb(50,50,50);
  height: 1.5em;
  line-height: 1.5em;
  right: 50%;
  transform: translateX(50%);
  max-width: 95%;
}

.gallery-info-grid .grid-item.not-available:hover .status {
  color: rgba(255,255,255,1);
}

.gallery-info-grid .grid-item:hover figcaption p {
  padding-right: 0;
}

@media only screen and (min-width: 25rem) {
  .gallery-info-grid {
    --cell-width: 10rem;
  }
}

@media only screen and (min-width: 36rem) {
  .gallery-info-grid {
    --cell-width: 12rem;
  }
}

@media only screen and (min-width: 42rem) {
  .gallery-info-grid {
    --cell-width: 15rem;
  }
}

@media only screen and (min-width: 50rem) {
  .gallery-info-grid {
    --cell-width: 12rem;
  }
}

@media only screen and (min-width: 60rem) {
  .gallery-info-grid {
    --cell-width: 15rem;
  }
}
/*#endregion*/

/*#region Embedded PDF */
.pdf-viewer {
  height: 50rem;
  width: 100%;
  min-height: 20rem; 
  resize: vertical;
  overflow: hidden;
  padding: 1rem;
}

.pdf-viewer object {
  width: 100%;
  height: 100%;
}
/*#endregion*/

/*#region Responsive multicolumn list */
.responsive-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.responsive-list.wide-elements {
  padding: 0;
}

.responsive-list > * {
  flex-basis: 20rem;
  list-style-type: disc;
}

.responsive-list.wide-elements > * {
  flex-grow: 1;
  padding-right: 3rem;
}

.responsive-list.map-grid h3 {
  min-height: 2.5em;
}

.responsive-list.map-grid p {
  min-height: 4em;
}

.responsive-list.with-sublists {
  display: block;
  column-width: 15rem;
  column-gap: 5rem;
}

.responsive-list.with-sublists li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.responsive-list.with-sublists ul {
  margin-left: 2rem;
}

.responsive-list.with-sublists > li > ul {
  list-style-type: circle;
}

.responsive-list.with-sublists > li > ul > li > ul {
  list-style-type: square;
}
/*#endregion*/

/*#region Embedded Google Map */
.embed-map {
  width: 100%;
  min-height: 10rem;
  max-height: 100rem;
  height: 30rem;
  overflow: hidden;
  resize: vertical;
}

.embed-map img.static-replacement {
  /* Image provided for accessibility */
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

/* The "Use ctrl to zoom" overlay */
p.gm-style-pbt {
  text-align: center;
}

section[data-mapicon]:hover {
  cursor: pointer;
}

section[data-mapicon]:hover > h3 {
  color: var(--accent-secondary);
}
/*#endregion*/

/*#region Attention-drawing highlighted button link */
.primary-button, a.primary-button {
  color: #fff;
  background-color: var(--accent-primary);
  padding: 0.5rem;
  border-radius: 3px;
  display: inline-block;
  margin: 1rem 0.5rem 0.5rem;
}

.primary-button:hover, a.primary-button:hover, .primary-button:focus, a.primary-button:focus {
  background-color: var(--accent-primary-dark);
  text-decoration: none;
}
/*#endregion*/

/*#region Bulleted list */
.bullet-list {
  list-style-type: disc;
  margin-left: 1.5rem;
}
/*#endregion*/

/*#region Clean, efficient table design */
.clean-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

.clean-table caption {
  font-weight: bold;
  font-size: 1.1em;
}

.clean-table tbody tr {
  border-bottom: var(--dividing-border);
  border-top: var(--dividing-border);
  transition: background-color 0.25s ease;
}

.clean-table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.clean-table tbody tr:hover {
  background: #e6e6e6;
}

.clean-table th {
  font-weight: bold;
}

.clean-table th, .clean-table td {
  padding: 0.5rem;
}

.clean-table tfoot td {
  padding: 1rem;
}
/*#endregion*/

/*#region 360deg panorama viewer */
.pano.pnlm-container {
  min-height: 30rem;
  width: calc(100% - 2rem);
  margin: 2rem 1rem;
}
/*#endregion*/

/*#region Thumbnail link for a featherlight video embed */
.video-thumb {
  position: relative;
}

.video-thumb::before {
  content: "▶\FE0E";
  position: absolute;
  color: rgba(255,255,255,0.8);
  width: 100px;
  font-size: 55px;
  top: -46px;
}
/*#endregion*/

/*#region Responsive backgrounds, which load dynamically */
.responsive-resolution-bg {
  transition: background 5s;
}
/*#endregion*/
