body, html, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-size: 17px;
}

body {
  font-family: arial, sans-serif;
  color: #222;
}

#authorize-overlay {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9;
  justify-content: space-around;
  align-items: center;
}

#grid-container-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 1vw);
  width: 100%;
  position: absolute;
  overflow: hidden;
}

#grid-container {
  display: grid;
  grid-template-rows: [header-start] 4vh 9vh [header-end] repeat(3, auto);
  grid-template-columns: 15vw 31vw 31vw 15vw;
  grid-gap: 1vw;
  padding: 1vw;
  height: 100%;
}

.slide, #pageName {
  transition: opacity 250ms ease;
}

.slide.faded-out, #pageName.faded-out {
  opacity: 0;
}


#header {
  grid-row-start: header-start;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  color: #0a7756;
  margin-bottom: -1vw;
}

#header h1 {
  font-family: Georgia;
  font-size: 1.2em;
  font-weight: normal;
}

#header span {
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: bold;
}

#pageName {
  grid-row-end: header-end;
  grid-column: 1 / -1;
  color: white;
  background: url("http://www.usf.edu/_resources/images/v2/global/header/banner/seal.png") top right 10% no-repeat, #0a7756;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -3vw;
}

#pageName h2 {
  font-weight: normal;
  font-family: Georgia;
  letter-spacing: 2px;
  font-size: 2em;
}

.grid-section {
  padding: 0.4em;
  overflow: hidden;
}

.grid-section > h3 {
  text-transform: uppercase;
  color: #0a7756;
  letter-spacing: 1px;
  font-size: 1.2em;
  padding-bottom: 0.2em;
  width: 100%;
  line-height: 1.5em;
}

.grid-section > h3 > span {
  border-bottom: 2px solid #9ccb3b;
}

.grid-section h4 {
  text-transform: uppercase;
  color: #466069;
  font-size: 1em;
  letter-spacing: 0.5px;
}

.full-cell {
  padding: 0;
  background-size: cover;
  background-position: center;
}

#printStatus {
  grid-row: 3 / span 2;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#printStatus #openClosed {
  font-weight: bold;
  background: #009374;
  padding: 0.7em;
  border-radius: 0.2em;
  color: white;
  letter-spacing: 1px;
  margin: 1em;
}

#printStatus #openClosed.closed {
  background: #466069;
}

#printStatus #openClosed #openStatus {
  text-transform: uppercase;
}

#printStatus .flex-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 1em;
}

#printStatus .flex-row > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#printStatus .big-number {
  font-size: 5em;
  font-weight: bold;
}

#printStatus .big-number#totalWait {
  font-size: 4em;
}
#printStatus .big-number#totalWait .small-units {
  font-size: 0.5em;
  font-weight: normal;
}

.small-note {
  width: 100%;
  text-align: right;
  color: #7e96a0;
  font-size: 0.8em;
  align-self: flex-end;
  margin-top: 1em;
}

#printStatus #lastUpdated #queueUpdated {
  font-family: monospace;
  font-style: normal;
}

#printStatus #total {
  font-size: 0.8em;
  opacity: 0.8;
}

#about {
  grid-column: span 2 / -1;
}

#about > p {
  padding: 0 1em;
  text-align: justify;
}

#about #printers p {
  font-size: 1.8em;
  padding: 0 1em 0 1em;
  color: #29afce;
  margin: 0;
  text-align: center;
}

#about #printers div {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 0.5em;
  font-weight: bold;
  color: #466069;
  font-style: italic;
}

#howToPrint {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#howToPrint p {
  margin: 1em 0 0.5em 0;
  text-align: center;
}

#howToPrint code {
  font-size: 1.2em;
  font-weight: bold;
}

#howToPrint strong {
  font-size: 1.4em;
}

#printingGallery {
  grid-row: span 2 / -1;
  grid-column: span 2 / -1;
  background: lightgrey;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.calendar, .pdf {
  grid-row: header-end / -1;
  grid-column: 1 / -1;
}

.pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar > iframe {
  height: 100%;
  width: 100%;
  position: relative;
}

.pdf > div {
  margin: auto;
  border: 2px solid #0a7756;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.pdf > p {
  font-weight: bold;
  color: #466069;
  margin: 0.5em;
}

.pdf > p > span {
  border-bottom: 2px solid #9CCB3B;
}

.full-gallery {
  background-image: url("http://avc.web.usf.edu/images/avc_pics/3D%20Printing/img%20(43).jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  margin: 0 -2vw;
}

.announcements {
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  max-width: 70em;
  width: 80%;
  justify-self: center;
}

.announcements p {
  grid-row: 2;
  margin: 0.5em 1em;
}

.announcements img {
  grid-row: 1 / -1;
  grid-column: 2;
  max-height: 18vh;
}

.accolades {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto auto 1fr;
  grid-gap: 0.5vw;
  height: 100%;
  width: 100%;
}

.accolades h3 {
  grid-column: span 3;
}

.accolades img {
  height: 20em;
}

.accolades p {
  text-align: justify;
  padding: 0 1.5em;
}

.accolades p:first-child {
  margin: 0;
}

.side-article {
  grid-column: span 2;
  padding: 0 2em;
}

.side-article img {
  height: 10em;
}

#mainArticle {
  grid-column: 2 / span 2;
  grid-row: header-end / span 2;
}

.fade-out {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

.not-current-slide {
  display: none !important;
}

#featuredResearcher {
  grid-column: 2 / span 2;
  text-align: center;
}

#featuredResearcherImg-0, #featuredResearcherImg-1 {
  grid-column: span 2;
  grid-row: span 20;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
